main {
  padding: 0 1rem;
}

h1 {
  margin-bottom: 1rem;
}

.main-nav {
  padding: 1rem;
}

.main-nav li {
  list-style: none;
  display: inline;
  margin-right: 1rem;
}

.main-nav li a.active {
  color: #ffffff;
}

th {
  padding: 0 1rem 0.25rem 0;
  text-align: left;
}

button.delete {
  background-color: transparent;
  color: #ff0000;
  border: none;
  font-weight: bold;
  cursor: pointer;
}