main {
  padding: 0 1rem;
}

h1 {
  margin-bottom: 1rem;
}

.main-nav {
  padding: 1rem;
}

.main-nav li {
  list-style: none;
  display: inline;
  margin-right: 1rem;
}

.main-nav li a.active {
  color: #ffffff;
}

th {
  padding: 0 1rem 0.25rem 0;
  text-align: left;
}

button.delete {
  background-color: transparent;
  color: #ff0000;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

form .row {
  padding-bottom: 0.5rem;
}

form .row label {
  display: block;
}

form .row input[type="text"],
form .row textarea {
  width: 20rem;
}

div.error {
  background-color: #ffffff;
  border: 2px solid #ff0000;
  color: #000000;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

div.success {
  color: #00d061;
  font-weight: bold;
  margin-bottom: 1rem;
}